body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.div-container {
  width: 98%;
  margin: 1%;
}
.content-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  width: 100%;
  color: aliceblue;
}

.content-table thead tr {
  background-color: rgb(66, 143, 156);
  color: rgb(223, 230, 233);
}

.content-table td {
  color: rgb(100, 101, 101);
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: rgb(159, 214, 214);
}

.content-table tbody tr:nth-of-type(2n + 1) {
  background-color: rgb(147, 192, 192);
}

.formP {
  max-width: 550px;
}

.editBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.form-group {
  display: flex;
  flex-direction: column;
  color: rgb(100, 101, 101);
}

.form-group .input {
  margin: 10px 0;
  background: transparent;
  border: 0;
  color: aliceblue;
  border-bottom: 2px solid skyblue;
  padding: 10px;
}

.error {
  size: 0.2px;
  color: red;
}

.btnSubmit {
  background: skyblue;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 5px;
  padding: 20px;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 10px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: lighter;
}
